@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

//---------------------Fonts Types
$roboto: 'Roboto Slab',
serif;

//---------------------Colors

$verde: rgb(66, 181, 66);

$azul: rgb(52, 135, 213);

$shadow: rgb(150, 150, 150);

$naranja: rgb(220, 117, 48);

//-------------------------


#admin {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto;
  color: white;
  font-family: $roboto;
  font-size: 24px;
  width: 50%;
  border: 1px solid black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 2px 3px 4px $shadow;
  padding: 15px;

  h2 {
    text-align: center;
    color: black;
  }

  #seller1 {


    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 5px;

    a {
      border-radius: 3px;
      background: $azul;
      width: 100%;
      padding: 4px;
      text-decoration: none;
      text-align: center;
      margin: auto;
      color: white;

      &:hover {
        animation: effect1 2s infinite linear;
        -webkit-animation: effect1 2s infinite linear;
      }
    }
  }

  #client1 {
    border-radius: 3px;
    width: 30%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    gap: 8px;

    a {
      border-radius: 3px;
      background: $verde;
      width: 100%;
      padding: 4px;
      text-decoration: none;
      text-align: center;
      margin: auto;
      color: white;

      &:hover {
        animation: effect1 2s infinite linear;
        -webkit-animation: effect1 2s infinite linear;
      }
    }
  }

  #ticket_view{
    border-radius: 3px;
    width: 30%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    gap: 8px;

    a {
      border-radius: 3px;
      background: $naranja;
      width: 100%;
      padding: 4px;
      text-decoration: none;
      text-align: center;
      margin: auto;
      color: white;

      &:hover {
        animation: effect1 2s infinite linear;
        -webkit-animation: effect1 2s infinite linear;
      }
    }
  }

  form {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    label {
      color:black;
    }
    input {
      width:50%;
      height:32px;

      &:hover {
        border: 3px solid $azul;
      }
    }

    button {
      margin-top:12px;
      background-color:$azul;
      width:50%;
      height: 13%;
      margin-bottom: 20px;
      padding:10px;
      color: white;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      box-shadow: 2px 3px 4px $shadow;
      font-size:20px;
      &:hover{
        cursor: pointer;
      }
}
  }

}

#dash_admin {
  width:30%;
  padding: 15px;
  border-radius: 3px;
  color: white;
  background-color:$verde;
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-weight: bold;
 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  &:hover
{
  animation: effect1 2s infinite linear;
  -webkit-animation: effect1 2s infinite linear;
  }
}


//----------------Loading Effect
#loading_container {
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;

  #loading {
    border: 15px solid #ccc;
    border-top-color: rgb(62, 110, 143);
    border-top-style: double;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: animate 1.7s infinite linear;
    -webkit-animation: animate 1.7s infinite linear;
  }
}


//-----------------Animacion Inicial ----------------------------------------------//
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  ;

  25% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }

  ;

  50% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  ;

  75% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  ;

  90% {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
  }

  ;

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

  ;
}


@keyframes effect1 {
  0% {
    color: white;
  }

  50% {
    color: orange;
  }

  75% {
    color: rgb(202, 152, 226)
  }

  100% {
    color: white;
  }
}