html,
body {
  margin: 0;
  padding: 0;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.father {
  margin-top: 45px;

  #container {
    margin-top: 80px;
    background: rgb(255, 255, 255);
    text-align: center;
    width: 80%;
    box-shadow: 1px 2px 3px rgb(133, 131, 131);
    margin: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid blue;

    h2 {
      margin-top: 40px;
      font-size: 65px;
      color: blue;
      text-decoration: underline;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #main {
      margin-top: 35px;
      background-color: oldlace;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 20px;

      //-----------------Contenedor principal-------------
    }
  }
}


//<-------------Container 2 ---------------------->>

#container2 {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;

  #membrete {
    margin: auto;
    padding: 3px;
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    #titulo {

      h2 {
        color: blue;
        text-align: center;
      }
    }

    #type {
      h3 {
        font-style: normal;
        text-decoration: underline;
        width: 30%;
      }
    }

    #logo {

      //display: none;
      img {
        width: 150px;
        height: 150px;
      }
    }


  }
}

//<------------------------------------------------>>


//<--------------------------Father2------------------>


#father2 {
  width: 80%;
  margin: auto;

  #table {
    #column_table {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      div {
        display: block;
        font-size: 22px;
        width: 26%;
        text-align: center;
        padding: 3px;
        background-color: rgb(209, 209, 209);
        border: 1px solid black;
      }
    }

    #data_seller {

      #details {
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
          font-size: 22px;
          width: 26%;
          text-align: center;
          padding: 3px;
          background-color: rgb(252, 251, 251);
          border: 1px solid black;
        }
      }

    }
  }
}

//<-------------------------------------------------->

.pair-style {
  background: rgb(133, 131, 131);
}


//-----------------MARQUEE EFFECT --------------


#footer {
  margin-top: 100px;
}

.marquee {
  margin-top: 30px;
  height: 40px;
  color: white;
  background: rgb(80, 107, 196);
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;

  p {
    font-size: 22px;
    //display: inline-block;
    padding-left: 100%;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    -webkit-animation: scroll 25s infinite linear;

  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
  }
}


//----------------Modal -----------------------------


#container_modal {
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  //pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display:none;

  #modal {
    margin: auto;
    background: white;
    width: 26%;
    height:20%;
    padding: 7px;
    box-shadow: 2px 3px 2px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    

    h1 {
      color: blue;
      text-align: center;

    }

    button {
      background: rgb(14, 138, 146);
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      box-shadow: 2px 3px 4px rgb(115, 122, 128);
      color: white;
      padding: 3px;
      margin: auto;
      display: block;
      width:100px;
      height: 50px;
    }
  }
}





//--------------------------------------------------