



html,
body {
  margin: 0;
  padding: 0;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.father {
  margin-top: 45px;

  #container {
    margin-top: 80px;
    background: rgb(255, 255, 255);
    text-align: center;
    width: 80%;
    box-shadow: 1px 2px 3px rgb(133, 131, 131);
    margin: auto;
    border: 2px solid blue;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    h2 {
      margin-top: 40px;
      font-size: 65px;
      color: blue;
      text-decoration: underline;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #main {
      margin-top: 35px;
      background-color: oldlace;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 20px;

      //-----------------Contenedor principal-------------
    }


  }

}

//-----------------MARQUEE EFFECT --------------


#footer {
  margin-top: 100px;
}

.marquee {
  margin-top:30px;
  height: 40px;
  color: white;
  background: rgb(80, 107, 196);
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  //overflow: hidden;
p  {
    font-size: 22px;
    //display: inline-block;
    padding-left: 100%;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right:5px;
    margin-left:5px;
    vertical-align: middle;
    -webkit-animation: scroll 25s infinite linear;
    
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0,0);
  }

  100% {
    -webkit-transform: translate(-100%,0);
  }
}