html,
body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
  margin: 0;
  padding: 0;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
html #admin,
body #admin {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  width: 50%;
  border: 1px solid black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 2px 3px 4px #969696;
  padding: 15px;
}
html #admin h2,
body #admin h2 {
  text-align: center;
  color: black;
}
html #admin #seller1,
body #admin #seller1 {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
html #admin #seller1 a,
body #admin #seller1 a {
  border-radius: 3px;
  background: #3487d5;
  width: 100%;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: white;
}
html #admin #seller1 a:hover,
body #admin #seller1 a:hover {
  animation: effect1 2s infinite linear;
  -webkit-animation: effect1 2s infinite linear;
}
html #admin #client1,
body #admin #client1 {
  border-radius: 3px;
  width: 30%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  gap: 8px;
}
html #admin #client1 a,
body #admin #client1 a {
  border-radius: 3px;
  background: #42b542;
  width: 100%;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: white;
}
html #admin #client1 a:hover,
body #admin #client1 a:hover {
  animation: effect1 2s infinite linear;
  -webkit-animation: effect1 2s infinite linear;
}
html #admin #ticket_view,
body #admin #ticket_view {
  border-radius: 3px;
  width: 30%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  gap: 8px;
}
html #admin #ticket_view a,
body #admin #ticket_view a {
  border-radius: 3px;
  background: #dc7530;
  width: 100%;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: white;
}
html #admin #ticket_view a:hover,
body #admin #ticket_view a:hover {
  animation: effect1 2s infinite linear;
  -webkit-animation: effect1 2s infinite linear;
}
html #admin form,
body #admin form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
html #admin form label,
body #admin form label {
  color: black;
}
html #admin form input,
body #admin form input {
  width: 50%;
  height: 32px;
}
html #admin form input:hover,
body #admin form input:hover {
  border: 3px solid #3487d5;
}
html #admin form button,
body #admin form button {
  margin-top: 12px;
  background-color: #3487d5;
  width: 50%;
  height: 13%;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 2px 3px 4px #969696;
  font-size: 20px;
}
html #admin form button:hover,
body #admin form button:hover {
  cursor: pointer;
}
html #dash_admin,
body #dash_admin {
  width: 30%;
  padding: 15px;
  border-radius: 3px;
  color: white;
  background-color: #42b542;
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
html #dash_admin:hover,
body #dash_admin:hover {
  animation: effect1 2s infinite linear;
  -webkit-animation: effect1 2s infinite linear;
}
html #loading_container,
body #loading_container {
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
html #loading_container #loading,
body #loading_container #loading {
  border: 15px solid #ccc;
  border-top-color: #3e6e8f;
  border-top-style: double;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: animate 1.7s infinite linear;
  -webkit-animation: animate 1.7s infinite linear;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
  50% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  90% {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes effect1 {
  0% {
    color: white;
  }
  50% {
    color: orange;
  }
  75% {
    color: #ca98e2;
  }
  100% {
    color: white;
  }
}

.especial {
  width: 35%;
  height: 280px;
  background: yellow;
}

.father {
  margin-top: 45px;
}
.father #container {
  margin-top: 80px;
  background: white;
  text-align: center;
  width: 80%;
  box-shadow: 1px 2px 3px #858383;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid blue;
}
.father #container h2 {
  margin-top: 40px;
  font-size: 65px;
  color: blue;
  text-decoration: underline;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.father #container #main {
  margin-top: 35px;
  background-color: oldlace;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  gap: 10px;
}

#container2 {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}
#container2 #membrete {
  margin: auto;
  padding: 3px;
  height: 200px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#container2 #membrete #titulo h2 {
  color: blue;
  text-align: center;
}
#container2 #membrete #type h3 {
  font-style: normal;
  text-decoration: underline;
  width: 30%;
}
#container2 #membrete #logo img {
  width: 150px;
  height: 150px;
}

#father2 {
  width: 80%;
  margin: auto;
}
#father2 #table #column_table {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#father2 #table #column_table div {
  display: block;
  font-size: 22px;
  width: 26%;
  text-align: center;
  padding: 3px;
  background-color: #d1d1d1;
  border: 1px solid black;
}
#father2 #table #data_seller #details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#father2 #table #data_seller #details div {
  font-size: 22px;
  width: 26%;
  text-align: center;
  padding: 3px;
  background-color: #fcfbfb;
  border: 1px solid black;
}

.pair-style {
  background: #858383;
}

#footer {
  margin-top: 100px;
}

.marquee {
  margin-top: 30px;
  height: 40px;
  color: white;
  background: #506bc4;
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}
.marquee p {
  font-size: 22px;
  padding-left: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-animation: scroll 15s infinite linear;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}
#container_modal {
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}
#container_modal #modal {
  margin: auto;
  background: white;
  width: 26%;
  height: 25%;
  padding: 10px;
  box-shadow: 2px 3px 2px gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#container_modal #modal h1 {
  color: blue;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
#container_modal #modal h3,
#container_modal #modal select {
  display: none;
}
#container_modal #modal h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#container_modal #modal #input_container {
  display: none;
  margin-top: 12px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 35px;
}
#container_modal #modal #input_container label {
  margin-right: 3px;
  font-size: 22px;
}
#container_modal #modal #input_container input {
  font-size: 25px;
  height: 30px;
}
#container_modal #modal #timer {
  display: none;
  font-size: 55px;
  font-weight: bolder;
  color: #12331b;
  line-height: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  text-shadow: 1px 2px gray;
}
#container_modal #modal select {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 22px;
  width: 240px;
  border: 1px solid black;
  background: #92baed;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
}
#container_modal #modal button {
  background: #0e8a92;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 2px 3px 4px #737a80;
  color: white;
  padding: 3px;
  margin: auto;
  display: block;
  width: 90px;
  height: 50px;
  margin-top: 5px;
}

#container_ticket_modal {
  display: none;
}
#container_ticket_modal #ticket_modal #number_ticket {
  font-size: 22px;
}
#container_ticket_modal #ticket_modal type_client {
  font-family: "Courier New", Courier, monospace;
}

/*# sourceMappingURL=style.css.map */
