{% extends "layout.html" %} {% block body%}

<div id="loading_container">
  <div id="loading"></div>
</div>

<div id="admin" class='animate__animated animate__flipInX'>
  <h2>Welcome to the admin View</h2>
  <div id="seller1">
   <a href="{{url_for('view_seller') }}">Añadir Vendedor</a>
   <a href="#">Remover Vendedor</a>
   <a href="#">Ver Vendedores</a>
  </div>

  <div id="client1">
    <a href="{{url_for('view_client') }}">Añadir Cliente</a>
    <a href="#">Remover Cliente</a>
    <a href="#">Ver Clientes</a>
  </div>
  <div id="ticket_view">
    <a href="#">Ver Tickects</a>
  </div>
  </div>


{% endblock %}