{% extends "layout.html" %} {% block body%}

<div class="father">
  <div
    id="container"
    class="
      animate__animated animate__bounceInDown animate__delay-1s animate__slow
    "
  >
    <h2>Principal View</h2>
    <div id="main">
      <button id="normal" type="button">Normal</button>
      <div id="especial">
        <button type="button" id="Especial">Especial</button>
        
      </div>
      <button id="preferencial" type="button">Preferencial</button>
    </div>
  </div>
</div>
<!----------------Ticket---------------------------->
<div id="container_ticket_modal">
<div id="ticket_modal" >
   <h1 id="number_ticket"></h1>
   <h3 id='type_client'></h3>
</div>
</div>


<!-------------------  Modal------------------------>
<div id="container_modal" class='animate__animated animate__fadeInDown animate_slow'>
  <div id="modal" >
    <h1 id='subtitle'></h1>
    <h3 id='message'>Seleccione un vendedor</h3>
    <div id="input_container"> 
    <label for="ticket">Codigo</label>
    <input id='ticket'type="text" name="ticket" required>
    </div>
    <p id="timer"></p>
    {% if sellers   %}
    <select name="vendedor" id="Vendedor" required>
      {% for seller in sellers %}
      <option>{{ seller.name }}  {{ seller.last_name }} </option>
      {% endfor %}
    </select>
    {% endif %}
    <button id="btnTicket">Ticket</button>
  </div>
</div>

{% if msg %}
<p>{{ msg }}</p>
{%  endif %}
<footer  id="marquee_text">
  {% if quantify %}
  <div class="marquee"   >
    <span style="display:none" id="quantify">{{ quantify }}</span>
    <p id="p_text">{{ quantify }}</p>

  </div>
  {% endif %}
</footer>

{% endblock %}
