{% extends "layout.html" %} {% block body%}

<div class="father">
  <div
    id="container"
    class="
      animate__animated animate__bounceInDown animate__delay-1s animate__slow
    "
  >
    <h2>Principal View</h2>
    <div id="main">
      <button id="normal" type="button">Normal</button>
      <div id="especial">
        <button type="button" id="Especial">Especial</button>
        
      </div>
      <button id="preferencial" type="button">Preferencial</button>
    </div>
  </div>
</div>


<div id="container_modal" class='animate__animated animate__fadeInDown animate_slow'>
  <div id="modal" >
    <h1 id='subtitle'>Cliente Normal </h1>
    <h3 id='message'>Seleccione un vendedor</h3>
    <div id="input_container"> 
    <label for="ticket">Codigo</label>
    <input id='ticket'type="text" name="ticket" required>
    </div>
    {% if sellers   %}
    <select name="vendedor" id="Vendedor" required>
      {% for seller in sellers %}
      <option>{{ seller.name }}  {{ seller.last_name }} </option>
      {% endfor %}
    </select>
    {% endif %}
    <button id="btnTicket">Ticket</button>
  </div>
</div>

{% if msg %}
<p>{{ msg }}</p>
{%  endif %}
<footer>
  {% if valor %}
  <div class="marquee">
    {% for i in valor %}
    <p>{{ i }}</p>
    {% endfor %}
  </div>
  {% endif %}
</footer>

{% endblock %}
