{% extends "layout.html" %} {% block body%}

<div id="container2">
  <div id="membrete">
    <div id="titulo">
      <h2>Turnos en Espera</h2>
    </div>
    <div id="type">
      <h3 id="regular">Regular</h3>
      <h3 id="especial">Especial</h3>
      <h3 id="preferencial">Preferencial</h3>
    </div>
    <div id="logo">
      <img src="{{ url_for('static',filename='img/signal.jpg') }}" alt="" />
    </div>
  </div>
</div>

<div id="father2">
  <div id="table">
    <div id="column_table">
      <div>turno</div>
      <div>vendedor</div>
      <div>estado</div>
    </div>
      <div id="data_seller">
        {% if sellers %}
        {% for seller in sellers %}
        <div id='details'>
        <div class="{% if  seller.id  % 2  %} pair-style {% endif %}"> {{ seller.name }}</div>
        <div>{{ seller.last_name }}</div>
        <div>Activo</div>
        </div>
        {%  endfor %}
        {%  endif %}
      </div>
  </div>
</div>

{% endblock %}
